.tech-set {
    margin-top: 1rem;

    &-container {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: -1rem;

        & > div {
            margin: 1rem;
            height: 4rem;
            max-width: 9rem;
        }
    }
}
