$menu-collapse-breakpoint: 1120px;

$primary-text-color: #fff;
$primary-color: #f43a14;

$secondary-text-color: #fff;
$secondary-color: #3c3e4f;

$secondary-light-text-color: #000;
$secondary-light-color: #f2f3f4;
